.foot-container .goal {
  max-width:620px;
  width:100%;
  width:100%;
  height:auto;
}
.foot-container .ball {
  position:absolute;
  width:120px;
  height:120px;

  bottom:-160px;
  left:50%;
  transform:translateX(-50%);

  cursor:pointer;
}
@keyframes ball-shoot {
  0% {
    transform-origin:0;
  }
  50% {
    bottom:50px;
  }
  100% {
    transform:scale(0.3);
    bottom:35px;
  }
}
/*@keyframes ball-shoot {
  0% {
    transform-origin:0;
  }
  20% {
    bottom:60px;
  }
  40% {
    bottom:-40px;
    -webkit-transform:scale(0.3);
    transform:scale(0.3);
    transform-origin:0;
  }
  60% {
    bottom:50px;
    -webkit-transform:scale(0.25);
    transform:scale(0.25);
    transform-origin:0;
  }
  80% {
    bottom:-40px;
    -webkit-transform:scale(0.22);
    transform:scale(0.22);
    transform-origin:0;
  }
  90% {
    bottom:5px;
    -webkit-transform:scale(0.20);
    transform:scale(0.20);
    transform-origin:0;
  }
  100% {
    bottom:35px;
    left:140px;
    -webkit-transform:scale(0.20);
    transform:scale(0.20);
    transform-origin:0;
  }
}*/
.ball-shoot {
  animation:ball-shoot 0.7s forwards;
  animation-delay:0.22s;
}
