.hide{
    display: none;
}
.slideField{
    transition: 2s ease-in-out;
}
#containerGallery{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background: #FFFFFF;
    padding-bottom:80px;
}
#containerGallery h1 {
  font-family:'LeagueSpartan';
  margin-top:50px;
}
#firstRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#secondRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#thirdRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#fourthRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.pictures{
    margin: 2% 0 0 2%;

}
