@font-face {
  src:url('../fonts/LeagueSpartan.otf');
  font-family:'LeagueSpartan';
 }
@font-face{
  src:url('../fonts/GlacialIndifference-Regular.otf');
  font-family:'SecondaryFont'
}
* {
  box-sizing:border-box;
  user-select:none;
}
body, html {
  width:100%;
}
body {
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  text-align:center;
  overflow-x: hidden;
  cursor:default;
  background:url('../images/background_.png') repeat-y;
  background-size:100%;
}
#background-fade {
  position:fixed;
  bottom:0px;
  width:100%;
  height:100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.23) 10%, rgba(255,255,255,1) 43%);
  z-index:-1;
}
header {
  position:absolute;
  width:100%;
  z-index:99;
}
header #logo {
  width:120px;
  margin-top:20px;
}
header #header-text {
  max-width:500px;
  width:100%;
  margin-top:5vh;
  padding-left:15px;
  padding-right:15px;
}
main {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  background:black;

  z-index:2;
}
main #players-container {
  position:absolute;
  bottom:0;

  width:100%;
  height:auto;
  margin:auto;
}
#players-container .left, #players-container .right {
  position:relative;
  display:inline-block;
  max-width:45%;
  height:auto;
  vertical-align:bottom;
  margin:auto;
}
#players-container .left img {
  /*width:425px;*/
  max-width:521px;
  width:100%;
  height:auto;
  filter:grayscale(100%);
  transition:0.3s;

  position:relative;
  top:16px;
}
#players-container .right img {
  /*width:370px;*/
  max-width:521px;
  width:100%;
  height:auto;
  filter:grayscale(100%);
  transition:0.3s;
}
#players-container .left img:hover, #players-container .right img:hover {
  filter:grayscale(0%);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  cursor:pointer;
}
#players-container .left:hover span, #players-container .right:hover span {
  opacity:0.9;
  transition:0.5s;
}
#players-container .left span, #players-container .right span {
  position:absolute;
  display:block;
  color:white;
  font-family:'LeagueSpartan',serif;
  font-size:19px;
  opacity:0.3;
  top:-50px;
  left:50%;
  transform:translateX(-50%);
}
#players-container .left span {
  left:60%;
}
#players-container .right span {
  left:52%;
}
.foot-container, .basket-container {
  position:relative;
  max-width:600px;
  margin:auto;
  top:200px;
  display:none;
  opacity:0;
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
}
#gallery {
  text-align: center;
  padding-bottom:80px;
  border:1px solid white;

  z-index:5;
}
#gallery h1 {
  font-family:'LeagueSpartan',serif;
  margin-top:5%;
  margin-bottom:5%;
}
#gallery table {
  max-width:1280px;
  margin:auto;
}
#gallery tr {
  border:1px solid green;
}
#gallery tr td {
  padding:5px;
}
#gallery img {
  max-width:100%;

  -webkit-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  -moz-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);

  padding:5px;
  vertical-align: top;
}
#gallery>img {
  margin:5px;
}
#gallery #situation {
  position:relative;
}
#gallery #situation div {
  width:100%;
  margin:auto;
  margin-bottom:10px;
}
#gallery #situation #tablet {
  border:none;
}
#gallery #gif{
  width: 80%;
}
#situation .ball-blur {
  position:absolute;
  width:390px;

  right:230px;
  top:80px;

  box-shadow:none !important;
  border:none !important;
  z-index:4;
}
#situation .ball-basket-blur {
  position:absolute;
  width:190px;

  right:80px;
  bottom:300px;

  box-shadow:none !important;
  border:none !important;

  z-index:3;
}
#imgSituation1{
  width: 60%;
  margin-left: -30%;
}
#imgSituation2{
  margin: 5% -10%;
  width: 60%;
}
#firstSituation{
  margin-bottom: 5%;
}
.align{
  display: inline-block;
}
#lastParagraphe{
  width: 50%;
}
footer>img {
  width: 100%;
}
#imgSituation2{
  margin-left: 0;
}
#lastParagraphe{
  margin: 5% 5%;
}
#postSocial{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
   font-family: 'SecondaryFont',serif;
  margin-bottom: 5%;
  }
#facebook{
  width: 90%;
  height: auto;
  margin-bottom: 1%;
  border-radius: 3%;
  -webkit-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  -moz-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
}

#twitter{
  width: 90%;
  height: auto;
  border-radius: 3%;
  -webkit-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  -moz-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
}
#instagram{

  height: auto;
  border-radius: 3%;
  -webkit-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  -moz-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
}
#stratMarket{
  font-family: 'SecondaryFont',serif;
  margin-bottom: 1%;
  width: 100%;
}
#stratMarket>div{
  margin: 5% 0 5% 0;
  display:inline-block;
}
#market1{
  width: 90%;
  height: auto;
  border-radius: 3%;
  -webkit-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  -moz-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
}
#market2{
  width: 90%;
  height: auto;
  border-radius: 3%;
  -webkit-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  -moz-box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
  box-shadow: 2px 3px 30px 2px rgba(0,0,0,0.29);
}
/* Animations */
@keyframes shake-win {
  0% {
    transform:translate(-50%, -50%) rotate(0deg);
  }
  20% {
    transform:translate(-50%, -50%) rotate(12deg);
  }
  40% {
    transform:translate(-50%, -50%) rotate(-12deg);
  }
  60% {
    transform:translate(-50%, -50%) rotate(12deg) scale(5);
  }
  80% {
    transform:translate(-50%, -50%) rotate(-12deg);
  }
  100% {
    transform:translate(-50%, -50%) rotate(12deg) scale(0.1);
  }
}
.shake-win {
  animation:shake-win 1.5s;
}
.win {
  visibility:hidden;
  opacity:0;
  transition:0.3s;

  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  z-index:999;
}
.win div {
  position:absolute;
  top:50%;
  left:50%;

  color:white;
  font-size:42px;
  font-family:'LeagueSpartan',serif;
  transform:translate(-50%, -50%) scale(0);
}
.win-appear {
  transition:0.3s;
  visibility:visible;
  opacity:1;
}
.fade-left {
  transition:0.7s;
  -webkit-transform:translateX(-500px);
  transform:translateX(-500px);
  opacity:0;
}
.fade-right {
  transition:0.7s;
  -webkit-transform:translateX(500px);
  transform:translateX(500px);
  opacity:0;
}
.arrow {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  cursor:pointer;
  opacity:0.3;
  transition:0.3s;
}
.arrow:hover {
  opacity:1;
}
.return{
  transition:0.7s;
  -webkit-transform:translateX(0);
  transform:translateX(0);
  opacity:1;
}
.arrow{
  margin-right: 40%;
  width: 1%;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
@media screen and (max-width:1280px) {
  #gallery table tr td {
    display: block;
  }
}
