@font-face {
  src:url('../fonts/LeagueSpartan.otf');
  font-family:'LeagueSpartan';
}
* {
  box-sizing:border-box;
  user-select:none;
}
body, html {
  width:100%;
}
body {
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  text-align:center;
  overflow-x: hidden;
  cursor:default;
  background:url('../images/background_.png') repeat-y;
  background-size:100%;
}
#background-fade {
  position:fixed;
  bottom:0px;
  width:100%;
  height:100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.23) 10%, rgba(255,255,255,1) 43%);
  z-index:-1;
}
header {
  position:absolute;
  width:100%;
  z-index:99;
}
header #logo {
  width:120px;
  margin-top:20px;
}
header #header-text {
  max-width:500px;
  width:100%;
  margin-top:5vh;
  padding-left:15px;
  padding-right:15px;
}
main {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  background:black;

  z-index:2;
}
main #players-container {
  position:absolute;
  bottom:0;

  width:100%;
  height:auto;
  /*-webkit-transform:translateX(-50px);
  transform:translateX(-50px);*/
  margin:auto;
}
#players-container .left, #players-container .right {
  position:relative;
  display:inline-block;
  max-width:45%;
  height:auto;
  vertical-align:bottom;
  margin:auto;
}
#players-container .left img {
  /*width:425px;*/
  max-width:521px;
  width:100%;
  height:auto;
  filter:grayscale(100%);
  transition:0.3s;

  position:relative;
  top:16px;
}
#players-container .right img {
  /*width:370px;*/
  max-width:521px;
  width:100%;
  height:auto;
  filter:grayscale(100%);
  transition:0.3s;
}
#players-container .left img:hover, #players-container .right img:hover {
  filter:grayscale(0%);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  cursor:pointer;
}
#players-container .left:hover span, #players-container .right:hover span {
  opacity:0.9;
  transition:0.5s;
}
#players-container .left span, #players-container .right span {
  position:absolute;
  display:block;
  color:white;
  font-family:'LeagueSpartan';
  font-size:19px;
  opacity:0.3;
  top:-50px;
  left:50%;
  transform:translateX(-50%);
}
#players-container .left span {
  left:60%;
}
#players-container .right span {
  left:52%;
}
.foot-container, .basket-container {
  position:relative;
  max-width:600px;
  margin:auto;
  top:200px;
  display:none;
  opacity:0;
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
}
/* Animations */
.fade-left {
  transition:0.7s;
  -webkit-transform:translateX(-500px);
  transform:translateX(-500px);
  opacity:0;
}
.fade-right {
  transition:0.7s;
  -webkit-transform:translateX(500px);
  transform:translateX(500px);
  opacity:0;
}
#gallery {
  text-align: center;
  padding-bottom:80px;
  border:1px solid white;

  z-index:5;
}
#gallery h1 {
  font-family:'LeagueSpartan';
  margin-top:50px;
}
#gallery table {
  max-width:1280px;
  margin:auto;
}
#gallery tr {
  border:1px solid green;
}
#gallery tr td {
  padding:5px;
}
#gallery img {
  max-width:100%;

  border:15px solid rgba(0,0,0,0.1);
  padding:5px;
  vertical-align: top;
}
#gallery>img {
  margin:5px;
}
#gallery #situation div {
  width:60%;
  margin:auto;
  margin-bottom:10px;
}
#gallery #situation div img {
  width:100%;
}
#gallery #situation #tablet {
  border:none;
}
#gallery #gif{
  width: 80%;
}
@media screen and (max-width:1280px){
  #gallery table tr td {
    display:block;
  }
}
