@font-face {
  src:url('../fonts/LeagueSpartan.otf');
  font-family:'LeagueSpartan';
}
* {
  box-sizing:border-box;
  user-select:none;
}
body, html {
  width:100%;
}
body {
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
  text-align:center;
  overflow-x: hidden;
  cursor:default;
}
header {
  position:absolute;
  width:100%;
}
header #logo {
  width:120px;
  margin-top:20px;
}
main {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
}
main #players-container {
  position:absolute;
  bottom:0;

  width:100%;
  height:auto;
  /*-webkit-transform:translateX(-50px);
  transform:translateX(-50px);*/
  margin:auto;
}
#players-container .left, #players-container .right {
  position:relative;
  display:inline-block;
  max-width:45%;
  height:auto;
  vertical-align:bottom;
  margin:auto;
}
#players-container .left img {
  /*width:425px;*/
  max-width:521px;
  width:100%;
  height:auto;
  filter:grayscale(100%);
  transition:0.3s;

  position:relative;
  top:16px;
}
#players-container .right img {
  /*width:370px;*/
  max-width:521px;
  width:100%;
  height:auto;
  filter:grayscale(100%);
  transition:0.3s;
}
#players-container .left img:hover, #players-container .right img:hover {
  filter:grayscale(0%);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  cursor:pointer;
}
#players-container .left:hover span, #players-container .right:hover span {
  opacity:0.9;
  transition:0.5s;
}
#players-container .left span, #players-container .right span {
  position:absolute;
  display:block;
  color:white;
  font-family:'LeagueSpartan';
  font-size:19px;
  opacity:0.3;
  top:-50px;
  left:50%;
  transform:translateX(-50%);
}
#players-container .left span {
  left:60%;
}
#players-container .right span {
  left:52%;
}
.foot-container, .basket-container {
  position:relative;
  top:150px;
  visibility:hidden;
  opacity:0;
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
}
/* Animations */
.fade-left {
  transition:0.7s;
  -webkit-transform:translateX(-500px);
  transform:translateX(-500px);
  opacity:0;
}
.fade-right {
  transition:0.7s;
  -webkit-transform:translateX(500px);
  transform:translateX(500px);
  opacity:0;
}
#gallery {
  text-align: center;
  background: #FFFFFF;
  padding-bottom:80px;
  border:1px solid white;
}
#gallery h1 {
  font-family:'LeagueSpartan';
  margin-top:50px;
}
#gallery table {
  max-width:1280px;
  margin:auto;
}
#gallery tr {
  border:1px solid green;
}
#gallery tr td {
  padding:5px;
}
#gallery img {
  border:15px solid rgba(0,0,0,0.1);
  padding:5px;
  vertical-align: top;
}
@media screen and (max-width:1280px){
  #gallery table tr td {
    display:block;
  }
}
#gif{
  width: 80%;
  border-radius: 3%;
}
#tablet{
  margin-bottom: 10%;
}

#containerGif{
  width:100%;
}
#situation1{
  width:60%;
  margin-bottom: 3%;
}
#situation2{
  margin-bottom: 3%;
  width: 60%;
}
#situation3{
  margin-bottom: 3%;
  width: 60%;
}
